<div class="page-header">
  <h1>Role #<%= @role.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Character name</dt>
  <dd><%= @role.character_name %></dd>

  <dt>Movie ID</dt>
  <dd><%= @role.movie_id %></dd>

  <dt>Actor ID</dt>
  <dd><%= @role.actor_id %></dd>

</dl>
